:root {
    --space-0: 0;
    --space-1: 1em;
    --space-2: 3em;
    --space-3: 100px;
    --size-1: 16px;
    --size-2: 24px;
}
body {
    font-family: 'Times New Roman', Times, serif;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: 'Playfair Display', serif; */
    /* background: rgb(221, 217, 209); */
    max-width: 700px;
    margin: auto;
    color: #333;
    line-height: 1.6;
    padding: var(--space-1);
    /* font-size: 16px; */
    /* height: 100vh; */
}
h1, h2 {
    /* font-style: italic; */
}
p {
    /* font-style: italic; */
    margin-top: var(--space-1);
    margin-bottom: var(--space-1);
}
a {
    font-style: italic;
    /* font-family: pl */
}
section {
    display: flex;
    /* align-items: flex-start; */
    margin-top: var(--space-1);
}
section ul {
    padding: 0;
    list-style: none;
}
section li {
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 1.2;
}
section li p {
    line-height: 1.6
}
.left-gutter {
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
    width: 100px;
}
.left-gutter img {
    /* float: right; */
    width: 90px;
}

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.items-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.height-100 {
    height: 100%;
}


.mt0 {
    margin-top: var(--space-0);
}
.mb0 {
    margin-bottom: var(--space-0);
}
.mx0 {
    margin-right: 0;
    margin-left: 0;
}
.mt1 {
    margin-top: var(--space-1);
}
.mb1 {
    margin-bottom: var(--space-1);
}
.ml1 {
    margin-left: var(--space-1);
}
.ml2 {
    margin-left: var(--space-2);
}
.ml3 {
    margin-left: var(--space-3);
}

.pt1 {
    padding-top: var(--space-1);
}
.pl1 {
    padding-left: var(--space-1);
}
.pt2 {
    padding-top: var(--space-2)
}

.fs1 {
    font-size: var(--size-1);
}
.fs2 {
    font-size: var(--size-2);
}
.normal {
    font-weight: normal;
}
.underline {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    section {
        flex-direction: column;
    }
    section h3 {
        text-align: left;
    }
    .ml3 {
        margin-left: 0;
    }
}